{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Collaboration & Innovation | Standard Contracts and Legal Templates</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="{% static 'images/cos.ico' %}" rel="icon">
  <link href="{% static 'images/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"  rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}"  rel="stylesheet">
  <link href="{% static 'vendor/aos/aos.css' %}"  rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}"  rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'css/main.css' %}" rel="stylesheet">

</head>

<body class="portdolio-details-page">

  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <img src="{% static 'images/court of arms.png' %}" alt="Court of Arms">
        <h1 class="sitename">Devlink Kenya</h1>
      </a>

      
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{% url 'landing' %}" class="active">Home</a></li>

          <li class="dropdown"><a href="{% url 'resource' %}"><span>Resources</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="{% url 'resource' %}">Resources</a></li>
              <li><a href="#">Custom software solutions</a></li>
              <li><a href="#">Training  & Resources</a></li>
              <li><a href="#">Project Outsourcing</a></li>
              <li><a href="#">Technical Support</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="{% url 'collaboration' %}"><span>Collaboration & Innovation</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="#">Community</a></li>
              <li><a href="#">Knowledge exchange forum</a></li>
              <li><a href="#">Government hackathons and innovation challenges</a></li>
              <li><a href="#">Engage in collaborative R&D projects</a></li>
              <li><a href="#">Repository for government projects</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Startup Support</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="{% url 'guidelines' %}">Guide for Software Startup Requirements</a></li>
              <li><a href="{% url 'portals' %}">Links to Supporting Government Portals</a></li>
              <li><a href="{% url 'legal' %}">Standard Contracts and Legal Templates</a></li>
              <li><a href="{% url 'cost' %}">Cost Optimization for Startups</a></li>
            </ul>
          </li>
          <li><a href="{% url 'landing' %}" >Contact Us</a></li>

         

          
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>

  <main class="main">

    <!-- Page Title -->
    <div class="page-title">
      <div class="container">
        <h1>Collaboration & Innovation</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{% url 'landing' %}">Home</a></li>
            <li class="current">Collaboration & Innovation</li>
            <li>Collaboration & Innovation</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    
    <!-- How We Work Section -->
    <section id="how-we-work" class="how-we-work section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">        
        <h2>Collaboration & Innovation</h2>
        <p class="lead">Kenya has over the years been a host to various African and Global tech and innovation summits and conferences. These have expanded the Kenyan market and provided innovators a platform to showcase their products. As a result, a number of Kenyan start-ups have received funding from foreign investors as well as opportunities to showcase solutions on the Global market. Examples of such events include; <strong> Africa BFSI Innovation Summit, Afro Asia FinTech festival, Afro tech summit, International Development Innovation Alliance (IDIA), The Sustainable Blue Economy Conference </strong></p><br>
      </div><!-- End Section Title -->


    </section><!-- /How We Work Section -->

  </main>

<footer id="footer" class="footer" style="background: #22223b; color: #f8f9fa;">

    <div class="container footer-top">
        <div class="row gy-4">
            <div class="col-lg-5 col-md-12 footer-about">
                <a href="{% url 'landing' %}" class="logo d-flex align-items-center">
                    <span class="sitename" style="color: #f8f9fa;">Devlink Kenya</span>
                </a>
                <p style="color: #d1d1e0;">Connects you to the right opportunities and partnerships, empowering progress every step of the way.</p>
                <div class="social-links d-flex mt-4">
                    <a href="" style="color: #f8f9fa;"><i class="bi bi-twitter-x"></i></a>
                    <a href="" style="color: #f8f9fa;"><i class="bi bi-facebook"></i></a>
                    <a href="" style="color: #f8f9fa;"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>

            <div class="col-lg-2 col-6 footer-links">
                <h4 style="color: #f8f9fa;">Useful Links</h4>
                <ul>
                    <li><a href="{% url 'landing' %}" style="color: #d1d1e0;">Home</a></li>
                    <li><a href="{% url 'resource' %}" style="color: #d1d1e0;">Resources</a></li>
                    <li><a href="{% url 'guidelines' %}" style="color: #d1d1e0;">Startup support</a></li>
                    <li><a href="{% url 'collaboration' %}" style="color: #d1d1e0;">Collaboration and innovation</a></li>
                    <li><a href="#" style="color: #d1d1e0;">Services</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-6 footer-links">
                <h4 style="color: #f8f9fa;">More info</h4>
                <ul>
                    <li><a href="{% url 'guidelines' %}" style="color: #d1d1e0;">Software Startup Requirements</a></li>
                    <li><a href="{% url 'portals' %}" style="color: #d1d1e0;">Supporting Government Portals</a></li>
                    <li><a href="{% url 'legal' %}" style="color: #d1d1e0;">Standard Contracts and Legal Templates</a></li>
                    <li><a href="{% url 'cost' %}" style="color: #d1d1e0;">Cost Optimization for Startups</a></li>
                    <li><a href="{% url 'login' %}" style="color: #d1d1e0;">Software firm registration</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                <h4 style="color: #f8f9fa;">Contact Us</h4>
                <p style="color: #d1d1e0;">P.O. Box 30025 - 00100</p>
                <p style="color: #d1d1e0;">GPO Telposta Towers, Koinange Street</p>
                <p style="color: #d1d1e0;">Nairobi, Kenya</p>
                <p class="mt-4" style="color: #d1d1e0;"><strong>Phone:</strong> <span> +254 700 000 000</span></p>
                <p style="color: #d1d1e0;"><strong>Email:</strong> <span>devlink@support.go.ke</span></p>
            </div>

        </div>
    </div>

    <div class="container copyright text-center mt-4">
        <p style="color: #d1d1e0;">© <span>Copyright</span> <strong class="px-1 sitename" style="color: #f8f9fa;">Devlink</strong> <span>All Rights Reserved</span></p>
    </div>

</footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}" ></script>

  <!-- Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>